     * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
        display:flex;
        justify-content:space-between;
        align-items: center;
        padding: 30px 3%;
        background-color: cornflowerblue;
        height: 60px;
}

p { cursor: pointer;
    font-size: 25px;
    padding-top:10px;
    margin-left: 10%;

}

.nav_links li {
    display: inline-block;
    margin-top: 15px;
    padding: 20px;
}

li a {
    text-decoration: none;
    color: black;
    transition: all 0.8s ease 0s;
}

li:nth-child(1){
    font-weight: 700;
    font-family:sans-serif;
    
}

.nav_links {margin-left: 305px;

}
li:nth-child(1) a{
color: chocolate;

}

a button {
    padding: 5px 15px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-right: 20px;
}

button:hover{
    background-color: rgba(0,136,169,0.8);}